body {
    font-family: 'Lobster Two', cursive;
    background-color: #0f0f0f;
}

#customBar {
    color: red;
    background-color: transparent;
    border-style: solid;
    border-color: red;
    border-width: 1px;
    border-right-style: none;
    border-left-style: none;
}

#customBar button {
    color: red;
}

#preview {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    height: 475px;
}

#options {
    color: red;
    padding:10px;
}

#options #items {
    list-style-type: none;
    padding:10px;
}

#options #items li{
        margin-top:55px;
}

#options #items li:

#options p {
    color: white;
    font-size: 20px;
}

.signatures {
    font-family: Times New Roman;
    font: italics;
}

.next {
    font-style: italic;
    font-weight: bold;
}

footer{
    color: White;
    padding: 10px;
}

.options-male{
 background-image:"images/male/maleFighter";   
    
}
#continue{
    font-size:20px;
    border-color:Red;
    border-width:1px;
}
/*. customizationBarow li{*/


/*position: rtive;*/


/*font-weight: bold;*/


/*font-size:15px;*/


/*    display: inline;*/


/*    font-size:20px;*/


/*    padding:20px;*/


/*    border:5px;*/


/*}*/
