body {
    font-family: 'Lobster Two', cursive;
    background-color: #0f0f0f;
}

#customBar {
    color: red;
    background-color: transparent;
    border-style: solid;
    border-color: red;
    border-width: 1px;
    border-right-style: none;
    border-left-style: none;
}

#customBar button {
    color: red;
}

#preview {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    height: 475px;
}

#options {
    color: red;
    padding:10px;
}

#options #items {
    list-style-type: none;
    padding:10px;
}

#options #items li{
        margin-top:55px;
}

#options #items li:

#options p {
    color: white;
    font-size: 20px;
}

.signatures {
    font-family: Times New Roman;
    font: italics;
}

.next {
    font-style: italic;
    font-weight: bold;
}

footer{
    color: White;
    padding: 10px;
}

#option-male{
    background-image: url('images/male/malebutton.png');

}
#option-female{
    
}
#continue{
    font-size:20px;
    border-color:Red;
    border-width:1px;
}

#option-skin1{
    background-color:#916b4d;
}

#option-skin2{
    background-color:#f89c888;
}

#option-clothes1{
    background-color:#321c1b ;
}
#option-clothes2{
    background-color:#783060;
}
#option-clothes3{
    background-color:#600818;
}
#option-clothes4{
    background-color:#c9c6be ;
}


.charimage{
    background: url('images/female/female-skin1-clothes1.png');
    width:300px;
    height:450px;
    margin:auto;
}


/*. customizationBarow li{*/


/*position: rtive;*/


/*font-weight: bold;*/


/*font-size:15px;*/


/*    display: inline;*/


/*    font-size:20px;*/


/*    padding:20px;*/


/*    border:5px;*/


/*}*/
